{# This simple template derives from ``base.html``. See ``base.html`` for
  more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
  utils module here to automatically render Flask's flashed messages in a
  bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
  This will keep scripts at the page end and a navbar you add on later
  intact. #}
{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="page-header">
    <h1>Ops Event Generator <small>powered by iKala Cloud</small></h1>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading panel-success">Service Status</div>
  
    <!-- Table -->
    <table class="table">
      <thead>
        <th>Service</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr>
          <td>Pub/Sub</td>
          {% if pubsub_status == "up" %}
          <td>🟢</td>
          {% elsif pubsub_status == "down" %}
          <td>🔴 🟡</td>
          {% else %}
          <td>🔴 🟡</td>
          {% endif %}
        </tr>
        <tr>
          <td>ER API</td>
          {% if er_status == "up" %}
          <td>🟢</td>
          {% elsif er_status == "down" %}
          <td>🔴 🟡</td>
          {% else %}
          <td>🔴 🟡</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>  
</div> 
<div class="col-md-3"></div>
{%- endblock %}